@import "@core/scss/vue/libs/vue-select.scss";

.cursor-pointer {
  cursor: pointer;
}

.auth-wrapper {
  .brand-logo {
    // width: 185px;
    width: 255px;
    img {
      width: 60px;
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #7367f0;
  background-color: rgba(115, 103, 240, 0.12);
}

.text-end {
  text-align: end !important;
}
.text-start {
  text-align: start !important;
}
.h-35{
  height: 35px;
}

.w-13 {
  width: 50px;
  .input-group-text {
    width: 100%;
  }
}

.w-87 {
  width: calc(100% - 50px);
}

.custom-form {
  .form-group {
    height: 60px;
    > label, .col-form-label {
      height: 25px;
      padding: 0;
      margin-bottom: 2px;
    }
  }
}

.v-select-custom {
.vs__dropdown-toggle {
    height: 100%;
    border-inline-start: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}
}
.custom-form {

  .custom-file-label,
  .form-control {
    border-inline-start: 0;
  }
}


.vs__dropdown-option--highlight {
  color: #fff !important;
}


// Important
.english-dir {
  .form-input-icon-ltr {
    .form-control {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

.plus-row-ltr {
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.plus-row-rtl {
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.edit-time-line-rtl {
  left: 25px;
  top: 10px;
  z-index: 1000;
}
.edit-time-line-ltr {
  right: 25px;
  top: 10px;
  z-index: 1000;
}
// Important



.dark-layout {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #b4b7bd;
    -webkit-text-fill-color: #b4b7bd;
    -webkit-box-shadow: 0 0 0px 1000px #283046 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.light-layout {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #d8d6de;
    -webkit-text-fill-color: #6e6b7b;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}


